@import "../../../style/globalVariables.less";

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  align-items: center;
  justify-items: center;
  @media (max-width: 640px) {
    grid-template-columns: 1fr;
    width: 90%;
  }
}

.photoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  .imageBackground {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background: @color-primary;
    width: 70%;
    @media (max-width: 768px) {
      width: 80%;
    }
    @media (max-width: 640px) {
      width: 75%;
    }
  }
}

h1 {
  font-size: 40px;
  color: white;
  @media (max-width: 640px) {
    text-align: center;
    margin: 0;
    line-height: 50px;
  }
}
h5 {
  color: @color-light;
  @media (max-width: 640px) {
    text-align: center;
    margin: 0;
    line-height: 50px;
  }
}

img {
  width: 100%;
}

.titles {
  position: relative;
}
